@charset "UTF-8";
/* CSS Document */
/*==============header部分==============*/
.header {
  position: fixed;
  left: 0;
  top: 0;
  height: 50px;
  width: 100%;
  background-color: #1C3A2D;
  z-index: 1000;
}
.header-bg {
  margin: 0 auto;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-top: 15%;
  margin-left: 15%;
  width: 90px;
}
@media(min-width: 1040px) {
  .header {
    position: fixed;
    left: 0;
    top: 0;
    height: 80px;
  }
  .header-logo {
    margin-top: 20px;
    margin-left: 200px;
    width: 150px;
  }
}
/*==============TOP部分==============*/
.section-top {
  margin-bottom: 60px;
}
.section-top__bg {
  top: 0px;
  height: 640px;
  background-image: url("../images/meinvisual.jpg");
  background-repeat: no-repeat;
  background-position: 65% 35%;
  background-size: cover;
  justify-content: center;
  display: flex;
}
.section-top__lead {
  position: absolute;
  text-align: left;
  left: 24px;
  top: 240px;
  color: #fff;
  display: block;
}
.section-top__lead {
  font-size: 2.4rem;
  line-height: 4.8rem;
  font-weight: 600;
}
.section-top__lead span {
  font-size: 1.6rem;
  line-height: 3.2rem;
  font-weight: 500;
}
.section-top__description {
  margin: 30px 24px 0;
  font-size: 1.4rem;
  color: #333;
}
@media(min-width: 1040px) {
  .section-top {
    margin-bottom: 150px;
  }
  .section-top__bg {
    height: 100vh;
  }
  .section-top__lead {
    margin-left: 13.8vw;
    top: 232px;
    font-size: 7.2rem;
    line-height: 14.4rem;
  }
  .section-top__lead span {
    font-size: 3.6rem;
    line-height: 3.2rem;
    font-weight: 500;
  }
  .section-top__description {
    width: 1040px;
    margin: 100px auto 0;
    font-size: 2.2rem;
    line-height: 3.3rem;
    font-weight: 600;
    color: #333;
  }
}
/*==============３つの理由部分==============*/
.section-reason {
  margin-bottom: 60px;
}
.under_line {
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: 0.08em;
  padding: 5px;
  border-bottom: dotted 2px #F29438;
  color: #333;
}
.square-box {
  position: relative;
  margin: 50px 0 0 auto;
  width: 93%;
  height: 287px;
  background: #1C3C2D;
  border-radius: 50vw 0 0 50vw;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
.square-box02 {
  position: relative;
  margin: 50px auto 0 0;
  width: 93%;
  height: 287px;
  background: #1C3C2D;
  border-radius: 0 50vw 50vw 0;
  box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
}
.square-box img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 170px;
  width: 170px;
}
.square-box02 img {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 170px;
  width: 170px;
}
.box-img01 {
  transform: scaleX(-1);
}
.section-reason__content p, .section-reason__content h3 {
  text-align: left;
}

.section-reason__number {
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 1.6rem;
  color: #1C3C2D;
  font-weight: 600;
  margin-bottom: 8px;
}
.section-reason__number span {
  font-size: 3.2rem;
}
.section-reason__titile {
  font-size: 1.8rem;
  margin-bottom: 8px;
}
.section-reason__paragraph01,.section-reason__paragraph02,.section-reason__paragraph03 {
  max-width: 327px;
  margin: 24px auto 0 auto;
}
.section-reason__paragraph {
  font-size: 1.4rem;
}
@media(min-width: 1040px) {
  .section-reason {
    margin-bottom: 150px;
  }
  .section-reason h2 {
    margin-bottom: 100px;
  }
  .under_line-br {
    display: none;
  }
  .under_line {
    font-size: 4.8rem;
    letter-spacing: 0.08em;
    padding: 10px;
    border-bottom: dotted 2px #F29438;
    color: #333;
  }
  .square-box {
    display: block;
    position: relative;
    margin: 0px auto 0 0;
    max-width: 50%;
    width: 41vw;
    max-height: 500px;
    height: 65vh;
    background: #1C3C2D;
    border-radius: 0 50vw 50vw 0;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .square-box02 {
    position: relative;
    margin: 0px 0 0 auto;
    max-width: 50%;
    width: 41vw;
    max-height: 500px;
    height: 65vh;
    background: #1C3C2D;
    border-radius: 50vw 0 0 50vw;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
  }
  .square-box img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
  }
  .square-box02 img {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
  }
  .box-img01 {
    transform: scaleX(1);
  }
  .section-reason__content-box01, .section-reason__content-box02, .section-reason__content-box03 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 120px;
  }
  .section-reason__content-box02 {
    flex-flow: row-reverse;
  }
  .section-reason__paragraph01, .section-reason__paragraph03 {
   max-width: 40%;
   margin-right: 10%;
  }
  .section-reason__paragraph02 {
   max-width: 40%;
   margin-left: 10%;
  }
  .section-reason__number {
    font-size: 1.8rem;
  }
  .section-reason__number span {
    font-size: 4.8rem;
  }
  .section-reason__titile {
    font-size: 3.6rem;
    color: #333;
    line-height: 5.4rem;
    margin: 0;
  }
  .section-reason__paragraph {
    font-size: 1.6rem;
    line-height: 3.2rem;
    color: #333;
    margin-top: 10px;
  }
  .section-reason__paragraph01,.section-reason__paragraph02,.section-reason__paragraph03 {
  margin: 0px auto 0 auto;
}
}
/*==============trialセクション==============*/
.section-trial__subtitle {
  font-size: 1.6rem;
  color: #fff;
  line-height: 3.2rem;
}
.section-trial__title {
  font-size: 2.4rem;
  color: #fff;
  padding-bottom: 5px;
  border-bottom: dotted 2px #F29438;
  letter-spacing: 0.08em;
}
.section-trial ul {
  text-align: center;
  margin: 0 auto;
}
.section-trial__list:nth-child(1) {
  margin: 50px auto 60px auto;
}
.section-trial__list:nth-child(2) {
  margin: 0 auto 50px 0;
}
.section-trial__famer {
  font-size: 1.4rem;
  color: #fff;
  line-height: 3.5rem;
}
.section-trial__set {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
  line-height: 2.7rem;
}
.section-trial__set span {
  font-size: 1.4rem;
}
.section-trial__price {
  color: #f29438;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 20px;
}
.section-trial__price span {
  font-size: 1.4rem;
  font-weight: 500;
}
.section-trial__list img {
  width: 327px;
  height: 220px;
  border-radius: 10px 10px 10px 10px;
}
@media(min-width: 1040px) {
  .section-trial ul {
    max-width: 1040px;
  }
  .section-trial h2 {
    margin-top: 150px;
    margin-bottom: 100px;
  }
  .section-trial__subtitle {
    font-size: 2.4rem;
  }
  .section-trial__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #fff;
    padding-bottom: 10px;
    border-bottom: dotted 2px #F29438;
    letter-spacing: 0.08em;
  }
  .section-trial__wrapper {
    max-width: 1040px;
    display: flex;
    margin: 0 auto;
  }
  .section-trial__list:nth-child(1) {
    margin: 0px auto 100px auto;
    max-width: 50%
  }
  .section-trial__list:nth-child(2) {
    margin: 0 auto 100px 0;
    max-width: 50%
  }
  .section-trial__set {
    font-size: 2.4rem;
  }
  .section-trial__set span {
    font-size: 1.8rem;
  }
  .section-trial__famer {
    font-size: 1.6rem;
  }
  .section-trial__price {
    font-size: 3rem;
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  }
  .section-trial__price span {
    font-size: 1.6rem;
  }
  .section-trial__list img {
    width: 100%;
    max-width: 500px;
    height: 37.7vh;
    max-height: 300px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
  }
}
/*==============cultivationセクション==============*/
.section-cultivation {
  margin-bottom: 60px;
}
.section-cultivation h2 {
  margin-bottom: 40px;
}
.section-cultivation__subtitle {
  font-size: 1.6rem;
  color: #333;
  line-height: 3.2rem;
}
.section-cultivation__title {
  font-size: 2.4rem;
  color: #333;
  padding-bottom: 5px;
  border-bottom: dotted 2px #F29438;
  letter-spacing: 0.08em;
}
.section-cultivation ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.section-cultivation__list {
  position: relative;
  margin: 0 auto 30px auto;
  width: calc(50% - 20px);
}
.section-cultivation__list h3 {
  font-size: 1.8rem;
  color: #fff;
  width: 155px;
}
.section-cultivation__list p {
  font-size: 1.2rem;
  color: #fff;
}
.section-cultivation__img {
  width: 155px;
  height: 155px;
  object-fit: cover;
  object-position: center;
  border-radius: 500px;
  margin: 0 auto 0px auto;
}
.section-cultivation__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media(min-width: 1040px) {
  .section-cultivation {
    max-width: 1040px;
    margin: 0 auto;
    margin-bottom: 150px;
  }
  .section-cultivation h2 {
    margin-bottom: 100px;
  }
  .section-cultivation__subtitle {
    font-size: 2.4rem;
    color: #333;
  }
  .section-cultivation__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
    color: #333;
    padding-bottom: 10px;
    border-bottom: dotted 2px #F29438;
    letter-spacing: 0.12em;
  }
  .section-cultivation ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .section-cultivation__list {
    width: 32%;
    height: 32%;
  }
  .section-cultivation__list:nth-child(1), .section-cultivation__list:nth-child(2), .section-cultivation__list:nth-child(3) {
    margin-bottom: 50px;
  }
  .section-cultivation__list:nth-child(3) br, .section-cultivation__list:nth-child(4) br {
    display: none;
  }
  .section-cultivation__list:nth-child(4) {
    margin-right: 20px;
  }
  .section-cultivation__list:nth-child(4), .section-cultivation__list:nth-child(5) {
    margin-bottom: 0;
  }
  .section-cultivation__list:nth-child(5) {
    margin-left: 20px;
  }
  .section-cultivation__img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 500px;
    margin: 0 auto 0px auto;
  }
  .section-cultivation__content h3 {
    font-size: 3rem;
    line-height: 4.5rem;
  }
  .section-cultivation__content p {
    font-size: 1.6rem;
  }
}
/*=============organic-section=============*/
.section-organic {
  margin: 0px 24px 60px 24px;
}
.section-organic h2 span {
  font-size: 2.4rem;
  border-bottom: dotted 2px #F29438;
  padding-bottom: 5px;
  color: #333;
  line-height: 3.6rem;
  letter-spacing: 0.08em;
}
.section-organic h2 {
  text-align: center;
  margin-bottom: 40px;
}
.section-organic img {
  width: 327px;
  height: 327px;
  margin-bottom: 20px;
}
.section-organic h3 {
  text-align: left;
  font-size: 2.4rem;
  color: #1C3A2D;
  line-height: 3.0rem;
  margin-bottom: 20px;
}
.section-organic p {
  text-align: left;
}
@media(min-width: 1040px) {
  .section-organic {
    max-width: 1040px;
    margin: 0 auto 150px;
  }
  .section-organic h2 span {
    font-size: 4.8rem;
    padding-bottom: 10px;
    border-bottom: dotted 2px #F29438;
    letter-spacing: 0.12em;
  }
  .section-organic h2 span br {
    display: none;
  }
  .section-organic h2 {
    margin-bottom: 100px;
  }
  .section-organic__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-organic img {
    max-width: 440px;
    width: 50vw;
    max-height: 440px;
    height: 50vh;
  }
  .section-organic__paragraph {
    max-width: 520px;
  }
  .section-organic__paragraph h3 {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
  .section-organic__paragraph p {
    font-size: 1.6rem;
    color: #333;
  }
}
/*=============organic-famer=============*/
.section-famer {
  margin-bottom: 60px;
}
.section-famer h2 {
  margin-bottom: 40px;
}
.section-famer__subtitle {
  color: #333;
  font-size: 1.6rem;
}
.section-famer__title {
  font-size: 2.4rem;
  border-bottom: dotted 2px #F29438;
  padding-bottom: 5px;
  line-height: 3.6rem;
  letter-spacing: 0.08em;
  color: #333;
}
.section-famer__01 {
  margin-bottom: 50px;
  text-align: left;
}
.section-famer__01 img {
  width: 340px;
  height: 287px;
  object-fit: cover;
  object-position: left top;
}
.section-famer__02 img {
  width: 340px;
  height: 287px;
  object-fit: cover;
  object-position: 60% 40%;
}
.section-famer__01 img {
  border-radius: 0px 143.5px 143.5px 0;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.section-famer__01-img {
  width: 50%;
  text-align: left;
}
.section-famer__02-img {
  width: 50%;
  text-align: right;
}
.section-famer__01 h3 {
  font-size: 2.4rem;
  text-align: left;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 3.0rem;
  letter-spacing: 0.08em;
  color: #1C3A2D;
}
.section-famer__01-blok {
  margin: 0 24px 0;
}
.section-famer__name01 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #5F5F5F;
  margin-bottom: 20px;
}
.section-famer__paragraph01 {
  font-size: 1.4rem;
  color: #333;
}
.section-famer__02 {
  text-align: left;
}
.section-famer__02 img {
  border-radius: 143.5px 0px 0px 143.5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.section-famer__02-blok {
  margin: 0 24px 0;
}
.section-famer__02 h3 {
  font-size: 2.4rem;
  text-align: left;
  color: #1C3A2D;
  margin-bottom: 20px;
  margin-top: 30px;
  line-height: 3.0rem;
  letter-spacing: 0.08em;
}
.section-famer__name02 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #5F5F5F;
  margin-bottom: 20px;
}
.section-famer__paragraph02 {
  font-size: 1.4rem;
  color: #333;
}
@media(min-width: 1040px) {
  .section-famer {
    margin-bottom: 150px;
  }
  .section-famer h2 {
    margin-bottom: 100px;
  }
  .section-famer__subtitle {
    color: #333;
    font-size: 2.4rem;
  }
  .section-famer__title {
    font-size: 4.8rem;
    padding-bottom: 10px;
    letter-spacing: 0.08em;
    line-height: 7.2rem;
  }
  .section-famer__title br {
    display: none;
  }
  .section-famer__box-01, .section-famer__box-02 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .section-famer__box-02 {
    flex-flow: row-reverse;
  }
  .section-famer__01-img img {
    height: 65vh;
    width: 100%;
    border-radius: 0 50vw 50vw 0;
  }
  .section-famer__02-img img {
    height: 65vh;
    width: 100%;
    border-radius: 50vw 0 0 50vw;
  }
  .section-famer__01-blok {
    max-width: 40%;
    margin: 0 auto;
  }
  .section-famer__02-blok {
    max-width: 40%;
    margin: 0 auto;
  }
  .section-famer__01-blok h3, .section-famer__02-blok h3 {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }
  .section-famer__paragraph01, .section-famer__paragraph02 {
    font-size: 1.6rem;
    line-height: 3.2rem;
  }
}
/*=============customer-voice=============*/
.customer-voice {
  margin-bottom: 60px;
}
.customer-voice h2 {
  margin-bottom: 40px;
}
.customer-voice ul {
  list-style: none;
}
.customer-voice__subtitle {
  font-size: 1.6rem;
  color: #333;
}
.customer-voice__title {
  font-size: 2.4rem;
  color: #333;
  letter-spacing: 0.08em;
  border-bottom: dotted 2px #F29438;
  padding-bottom: 5px;
}
.customer-voice__list img {
  width: 327px;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
  margin-bottom: 30px;
}
.customer-voice__paragraph {
  margin: 0 24px;
  text-align: left;
}
.customer-voice__paragraph h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #F29438;
  margin-bottom: 8px;
}
.customer-name {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5F5F5F;
  margin-bottom: 20px;
}
.customer-voice__description {
  font-size: 1.4rem;
  color: #333;
  margin-bottom: 40px;
}
@media(min-width: 1040px) {
  .customer-voice {
    margin: 0 auto 150px auto;
    max-width: 1040px;
    margin-bottom: 150px;
  }
  .customer-voice h2 {
    margin-bottom: 100px;
  }
  .customer-voice__subtitle {
    font-size: 2.4rem;
  }
  .customer-voice__title {
    font-size: 4.8rem;
    line-height: 7.2rem;
    padding-bottom: 10px;
  }
  .customer-voice__list {
    width: 327px;
  }
  .customer-voice__list:nth-child(1), .customer-voice__list:nth-child(2) {
    margin-right: 30px;
  }
  .customer-voice__list-box {
    display: flex;
  }
  .customer-voice__paragraph {
    margin: auto;
  }
  .customer-voice__paragraph h3 {
    font-size: 2.4rem;
  }
  .customer-voice__description {
    font-size: 1.6rem;
    text-align: 2.4rem;
    margin-bottom: 0;
  }
}
/*=============section-question=============*/
.section-question {
  margin-bottom: 48.75px;
}
.section-question h2 {
  margin-bottom: 38.75px;
}
.section-question h2 span {
  font-size: 2.4rem;
  padding-bottom: 5px;
  letter-spacing: 0.08em;
  border-bottom: dotted 2px #F29438;
  color: #333;
}
@media(min-width: 1040px) {
  .section-question {
    max-width: 1040px;
    margin: 0 auto 150px auto;
  }
  .section-question ul {
    list-style: none;
  }
  .section-question h2 {
    margin-bottom: 100px;
  }
  .section-question h2 span {
    font-size: 4.8rem;
    line-height: 7.2rem;
    padding-bottom: 10px;
  }
}
/*=============section-quality=============*/
.section-quality {
  margin-bottom: 60px;
}
.section-quality h2 {
  margin-bottom: 40px;
  padding-top: 50px;
}
.section-quality__subtitle {
  font-size: 1.6rem;
  color: #F29438;
}
.section-quality__title {
  font-size: 2.4rem;
  color: #fff;
  letter-spacing: 0.08em;
  border-bottom: dotted 2px #F29438;
  padding-bottom: 5px;
}
.section-quality__content {
  margin: 0 24px 0 24px;
}
.section-quality__content p {
  font-size: 1.4rem;
  text-align: left;
  color: #fff;
  padding-bottom: 50px;
}
.section-quality p br {
  display: none;
}
.section-quality__bg-box {
  background: rgba(28, 58, 45, 0.7);
}
.section-quality__bg {
  background-image: url("../images/quality-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 0;
  background-size: cover;
}
@media(min-width: 1040px) {
  .section-quality {
    margin-bottom: 100px;
  }
  .section-quality h2 {
    margin-bottom: 50px;
    padding-top: 75px;
  }
  .section-quality p {
    max-width: 1040px;
    margin: 0 auto;
    font-size: 1.6rem;
    line-height: 2.4rem;
    padding-bottom: 75px;
    text-align: center;
  }
  .section-quality__subtitle {
    font-size: 2.4rem;
    color: #F29438;
  }
  .section-quality__title {
    font-size: 4.8rem;
    color: #fff;
    letter-spacing: 0.08em;
    border-bottom: dotted 2px #F29438;
    padding-bottom: 10px;
    line-height: 7.2rem;
  }
  .section-quality__bg {
    padding: 190px 0;
  }
}
/*=============footer=============*/
.footer {
  background-color: #1C3A2D;
  height: 150px;
  position: relative;
}
.footer small {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1rem;
}